.brand {
  width: 100px;
  height: 100px;
  /* position: relative; */
  margin-top: 20px;
}

.brand:before {
  content: "SK";
  line-height: 120px;
  color: #ff004e;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin-left: -2.75rem;
  position: absolute;
  z-index: 99999;
  margin-top: -1.4rem;
}

.logo {
  margin-top: -1rem;
}

svg path {
  fill: none;
  stroke-width: 2;
  transform-origin: 50% 50%;
}

.path-1 {
  stroke: #ff004e;
  animation: rotate-1 18s linear infinite;
}

.path-2 {
  stroke: #ff004e;
  opacity: 0.6;
  animation: rotate-2 18s linear infinite;
}

.path-3 {
  stroke: #ff004e;
  opacity: 0.3;
  animation: rotate-3 18s linear infinite;
}

@keyframes rotate-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
