.brand {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
.brand:before {
  background-size: 100% 100%;
  content: "SK";
  line-height: 120px;
  color: #ff004e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  /* margin-top: -2.5rem;*/
  margin-left: -2.5rem;
  position: absolute;

  z-index: 99999 !important;
}

.logo {
  animation: 5s linear infinite;
  animation-name: rotate-0;
  animation-delay: 0s;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  margin-top: -1.5rem;
}

svg path {
  positon: absolute;
  fill: none;
  stroke-width: 2;
  top: 0;
  left: 0;
  /*mix-blend-mode: multiply;*/
  transform-origin: 50% 50%;
  /*   transform: rotate(45deg) ;  */
  animation: 4s linear infinite;
}

.logo svg path:nth-child(1) {
  opacity: 1;
  animation-name: rotate-1;
  animation-delay: 0.5s;
}
.logo svg path:nth-child(2) {
  opacity: 0.5;
  animation-name: rotate-2;
  animation-delay: 0.6s;
}
.logo svg path:nth-child(3) {
  opacity: 0.8;
  animation-name: rotate-3;
  animation-delay: 0.7s;
}

@keyframes scale-1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-1 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes rotate-2 {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(60deg);
  }
}

@keyframes rotate-3 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(90deg);
  }
}
